

#footer {
    background-color: #708090;
    color: #fff;
    padding: 20px 0;
}

  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #ccc;
  }
  
  .footer-section ul li strong {
    color: #fff;
  }
  
  .footer-section .social-links {
    display: flex;
    gap: 10px;
  }
  
  .footer-section .social-links li {
    display: inline-block;
  }
  
  .footer-section .social-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .footer-section .social-links li a:hover {
    color: #007bff;
  }
  