/* Products.css */

#products {
  padding: 20px;
  background-color: #f9f9f9;
}

.products-container {
  text-align: center;
}

.products-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 150px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensures the image covers the entire area, cropping if necessary */
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-details {
  text-align: left;
}

.product-details h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #333;
}

.product-details p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}

.product-details .price {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
}

.product-actions {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Stretch items vertically */
}

.quantity-favorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.quantity-dropdown {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.favorite-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ddd;
  transition: color 0.3s;
}

.favorite-icon.favorited {
  color: rgb(236, 19, 19);
}

.btn {
  background: linear-gradient(135deg, #6e8efb, #a777e3); /* Gradient background */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
  text-align: center;
  width: 100%; /* Full width */
}

.btn:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb); 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(-2px); 
}


.search-bar {
  position: relative;
  margin: 20px auto; 
  max-width: 600px;
}

.search-bar input[type='text'] {
  width: calc(100% - 40px); /* Adjusted width to accommodate for button padding */
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  outline: none;
  font-size: 1.2em;
}

.search-bar input[type='text']:focus {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
}

.clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #999;
  color: #fff;
}
