

.cart {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    color: black;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
    color: black;
  }
  
  .cart li {
    margin: 5px 0;
    color: black;
  }
  